{% extends 'sellerbase.html' %}

{% block title%}user profile{%endblock%}
{% block body %}



<div class="container">
    <div class="row">
        <div class="col-md mx-auto">
            <div>

            <h3>Seller Information</h3><hr>
            <p><span class="font-weight-bold">Seller_Store : </span> {{seller_info.store_name}}</p>
           
            <p><span class="font-weight-bold">Email : </span>{{seller_info.email}}</p>
            <p><span class="font-weight-bold">Address : </span>{{seller_info.address}}</p>
            <p><span class="font-weight-bold">Contact No :  </span>{{seller_info.contact_number}}</p>
            <hr>
            </div>
            <div style="margin-top: 40px;">
            <h3>Pending Order</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order_id</th>
                        <th>Amount</th>
                        <th>Ordered_on</th>
                        <th>Status</th>
                        <th>Ordered_By</th>
                        
                    </tr>
                    <tbody>
                        
                        {% for ord in pendingorders %}
                        <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'seller:sellerorderdetail' seller_info.store_name ord.id  %}">#ORDER_{{ord.id}}</a></td>
                        <td>{{ord.total}}</td>
                        <td>{{ord.created_at|timesince}} ago</td>
                        <td>{{ord.order_status}}</td>
                        <td>{{ord.ordered_by}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </thead>
            </table>
        </div>
        </div>
   
     
   
    
 
{% endblock %}